:root  {
    --violet:hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%)
}


body {

    background-image: url(/images/bg-desktop.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--violet);
    font-family: 'open-sans', sans-serif;
}
.logo {
    position: absolute;    
    top: 0em;
    left: 0em;
    margin-top: 30px;
    margin-left: 50px;
    padding-left: 1em;
    padding-top: 1em;
}

.mockups {
    border: 5px solid rgb(151, 13, 13);
    position: absolute;
    z-index: 2;
    margin: 270px 870px 150px 56px;
    
    
    
}

 h1 {
    display: block;
    font-weight: 400, 600;
    font-family: 'poppins', sans-serif;
    color: white;
    text-align: center;
    align-self: inherit;
    box-sizing: border-box;
    margin-left: 20%;
    margin-top: 20%;
}

p {

    font-size: 23px;
    text-align: center;
    padding-left: 900px;
    margin: 0px;
    color: white;
    border: none;
}